.parent {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 6px;
  grid-row-gap: 12px;
  background-color: rgb(228, 228, 140);
}

p {
  border: 2px solid black;
  padding: 20px;
  background-color: rgb(44, 161, 59);
}

header {
  border: 2px solid black;
  display: flex;
  gap: 20px;
  justify-content: space-around;
  background-color: aquamarine;
  flex-wrap: wrap;

}

header div {
  border: 2px solid black;
  padding: 20px;
  background-color: cadetblue;
  font-weight: bold;
}

.borel-regular {
  font-family: "Borel", cursive;
  font-weight: 400;
  font-style: normal;
}

body{
    margin: 20px;
    background-color: black;
}